<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuecheng.learning.mapper.XcCourseTablesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xuecheng.learning.model.po.XcCourseTables">
        <id column="id" property="id"/>
        <result column="choose_course_id" property="chooseCourseId"/>
        <result column="user_id" property="userId"/>
        <result column="course_id" property="courseId"/>
        <result column="company_id" property="companyId"/>
        <result column="course_name" property="courseName"/>
        <result column="create_date" property="createDate"/>
        <result column="validtime_end" property="validtimeEnd"/>
        <result column="update_date" property="updateDate"/>
        <result column="remarks" property="remarks"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, choose_course_id, user_id, course_id, company_id, course_name, create_date, validtime_end, update_date,
        remarks
    </sql>

    <select id="selectMyCourseTables" resultMap="BaseResultMap">
        SELECT * FROM `xc_course_tables`
        WHERE user_id=#{params.userId}
        <if test="params.courseType != null and params.courseType != ''">
            AND course_type=#{params.courseType}
        </if>
        <if test='params.expiresType != null and params.expiresType == "1"'>
            AND (DATEDIFF(validtime_end,CURDATE())&lt;=31 OR DATEDIFF(validtime_end,CURDATE())&lt;=30)
        </if>
        <if test='params.expiresType != null and params.expiresType == "2"'>
            AND (DATEDIFF(validtime_end,CURDATE())&lt;=0)
        </if>
        <if test="params.sortType != null and params.sortType == '1' ">

        </if>
        <if test="params.sortType != null and params.sortType == '2'.toString()">
            ORDER BY validtime_start
        </if>
        <!-- LIMIT 0,10 -->

        <!-- // 课程类型  [{"code":"700001","desc":"免费课程"},{"code":"700002","desc":"收费课程"}] -->
        <!-- private String courseType; -->

        <!-- // 排序 1按学习时间进行排序 2按加入时间进行排序 -->
        <!-- private String sortType; -->

        <!-- // 1即将过期、2已经过期 -->
        <!-- private String expiresType; -->
    </select>

</mapper>
